<div class="left">
  <div class="item-wapper">
    <label for="subject">Subject</label>
    <input type="text" id="subject" />
  </div>

  <div class="item-wrapper">
    <label for="description">Description</label>
    <textarea id="description"></textarea>
  </div>
</div>
<div class="right last">
  <div class="item-wrapper">
    <label for="url">URL</label>
    <input type="url" id="url" />
  </div>
  <div class="item-wrapper">
    <label for="uploads">Files</label>
    <input type="file" id="uploads" />
    <p class="description">Upload files related to this issue, including screenshots. Allowed file extensions are <em>.png, .jpg, .jpeg, .csv</em>. Each file should be under 10MB in size.</p>
  </div>
</div>

<div class="submit-wrapper">
  <input type="hidden" value="206402589" name="SSO" />
  <input type="button" value="Reset" />
  <input type="button" value="Save" />
</div>