////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////

@include breakpoint(412px) {
  @include layout(2, .15) {
    .left {
      @include isolation-span(1, 1);
    }

    .right {
      @include isolation-span(1, 2);

      &.last {
	clear: right;
      }

      &.first {
	margin-top: 0;
      }
    }

    .submit-wrapper {
      clear: both;
    }
  }
}

@include breakpoint(625px) {
  @include layout(2 1, .15) {
    .left {
      @include isolation-span(1, 1);
    }

    .right {
      @include isolation-span(1, 2);

      &.last {
	clear: right;
      }
    }
  }
}


.item-wrapper {
  margin-top: .75em;
  margin-bottom: .75em;

  .right.last & {
    margin-top: 0;
  }

  textarea {
    min-height: 10em;
  }
}

form {
  input,
  textarea {
    width: 100%;
  }
}

.submit-wrapper {
  float: right;
}

[type="button"] {
  width: auto;
}

[value="Reset"] {
  @include sassy-button("flat", 1em, .75em, #ccc);
}

[value="Save"] {
  @include sassy-button('shiny', 1em, .75em, #008fcc);
}

body {
  margin: 0;
  padding: 0;
}

header,
.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: .75em;
}